.container{
    font-family: 'Poppins', sans-serif;
}
.search-container{
    /* background-color: rgba(0, 0, 0, 0.85); */
    text-align: center;
    line-height: 40px;
    margin: 20px;
    margin-top: 40px;
}
.search-container input{
    width: 350px;
}
