.bg{
    border: 2px solid gray;
}
.input-field{
    width: 90%;
    padding: 10px;
    margin: 10px;
    height: 40px;
}
.icon-star{
    color: gold;
}
.imgStyle{
    width: 70px;
    height: 60px;
}
.style2{
    flex: none;
    margin: 10px;
}