.col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
    }
   .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
    } 
    .text-start {
    text-align: left;
    }
    .syntaxhighlighter .plain {
     color: black;
    }
    .syntaxhighlighter .keyword {
    font-weight: bold;
    color: #006699;
    }
    .syntaxhighlighter code {
    display: inline;
    } 
     .syntaxhighlighter caption {
    align-items:center;
    color: rgb(153, 51, 59);
    } 
     .syntaxhighlighter .string {
    color: blue;
    }
    .syntaxhighlighter .comments {
    color: #008200;
    }	
    code, kbd, tt, var {
    font-family: Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
    font-size: 16px;
    }
    code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
    }
    .syntaxhighlighter .gutter {
    color: #afafaf;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }
    .syntaxhighlighter table td.gutter .line {
    text-align: right;
    padding: 0 0.5em 0 1em;
    }
    .syntaxhighlighter .gutter .line {
    border-right: 3px solid #6ce26c;
    } 
    .syntaxhighlighter table td.code .line {
    padding: 0 1em; 
    }
   